body{
    background-color: #f8b9d5;
}
div{
    margin: auto;
    width: 600px;
}
form{
    padding: 20px 25px; 
    width: 550px;
    background-color: #f17f93;
    text-align: center;   
    font-family: Comfortaa, sans-serif;
    color: #fffaf2;
    border-radius: 20px;
}
input[type=text], select {
    color: black;
    width: 500px;
    padding: 7px 10px;
    margin: 3x 0;
    display: inline-block;
    border: 2px solid #e317ae;
    border-radius: 15px;
    box-sizing: border-box;
}
input[type=password], select{
    color: black;
    width: 500px;
    padding: 7px 10px;
    margin: 3x 0;
    display: inline-block;
    border: 2px solid #e317ae;
    border-radius: 15px;
    box-sizing: border-box;

}
input[type=submit] {
    width: 250px;
    background-color: #ff1a7b;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #e317ae;
  }
  
  input[type=submit]:hover {
    background-color: #ffcdc7;
    color: #fb6cec;
  }
  